<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        
        <section>
        <div style="display: flex; justify-content: center">
            <h1>Pagina</h1>
            <h2 style="padding: 5px; border: white; border-style: dotted; border-widnline-border-left: var(--darkreader-border-ffffff,#303436);" 
                data-darkreader-inline-border-top="" data-darkreader-inline-border-right="" data-darkreader-inline-border-bottom="" 
                data-darkreader-inline-border-left="">de</h2>
            <h1>Jose</h1>
        </div>
        </section>
        
        <h1>Hola</h1>
        
        <h2>Probando...</h2>
        
    </body>
</html>
